body {
  margin: 0;
  font-family: var(--font-roboto-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-roboto-mono);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
  --font-rubik: 'Rubik', sans-serif;
  --color-gradient-lighter-grey: linear-gradient(
      159deg,
      rgb(31, 31, 40) 0%,
      rgb(43, 43, 53) 100%
  );
  --color-gradient-dark-grey: linear-gradient(
      159deg,
      rgb(45, 45, 58) 0%,
      rgb(43, 43, 53) 100%
  );
  --color-gradient-deep-dark-grey: linear-gradient(
      159deg,
      rgb(22, 22, 28) 0%,
      rgb(59, 59, 76) 100%
  );
  --color-white: #f7f7f8;
  --color-darker-white: #e2e2e2;
  --color-black: #191923;
  --color-primary: #449213;
  --color-primary-hover: #35730e;
  --color-secondary: #28282c;
  --color-secondary-hover: rgb(13, 13, 16);
  --color-red: #ff4d4d;
  --color-green: #00ff80;
  --color-yellow: #ffcc00;
  --color-not-allowed: #999999;
  --color-not-allowed-hover: #666666;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container {
  padding: 1.3rem 0;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

li {
  list-style-position: inside;
}

li > ul {
  margin-left: 1rem;
}
